.cancellation-success-modal-body {
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  border-radius: 6px;

  .content {
    padding: 48px 40px;

    .title {
      margin-bottom: 24px;
      text-align: center;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 900;
    }

    .description {
      line-height: 1.4;
      text-align: center;
    }
  }
}
