.user-card-message {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-end;

  .user-info {
    display: flex;
    column-gap: 8px;
    align-items: center;

    .user-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.4%;
      color: #171a1c;
    }
    .user-card-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 12px;
      letter-spacing: 1px;
      background-color: #d9d9e0;
    }
  }

  .user-message {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border: 1px solid #d9d9e0;
    border-radius: 4px;

    .message {
      font-size: 14px;
      line-height: 1.4;
      color: #171a1c;
    }
    .time {
      align-self: flex-end;
      font-size: 12px;
      line-height: 1.33;
      color: #646464;
    }
  }
}
