.welcome-card {
  display: flex;
  column-gap: 8px;
  width: 100%;
  margin-bottom: 20px;

  .wrapper-icon {
    width: 40px;
    height: 40px;
  }

  .content {
    padding-top: 8px;
    line-height: 1.5;
    color: #202020;

    .title {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 600;
      color: #202020;
    }
    .description {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
