.chat-page {
  display: flex;
  width: 100%;
  height: 100%;

  .invisible-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .invisible-scroll::-webkit-scrollbar {
    display: none;
  }
}

.wrapperPage {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
