.plans {
  padding-top: 80px;

  > .title {
    max-width: 684px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 34px;
    line-height: 114%;
    text-align: center;
    color: #202020;
  }

  > .subtitle {
    max-width: 684px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    color: #6B7280;
  }

  .plans-list {
    display: flex;
    justify-content: center;
  }
}
